$black: #000;
$white:#fff;
$yellow: #FF8A00;
$gray: #F6F6F6;
$blackRGB: rgba(0, 0, 0, 0.65);
$accept: #535353;
$blue: #0A9DEF;
$green: #4BB682;
$chore: #FF9898;
$all: #FF7A00;
$ao: #A0A0A0;
$f6: #F6F6F6;