@import '../../assets/scss/color.scss';
.todos{
    position: relative;
    background: url('../../assets/image/vector-1.svg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    .container{
        width: 50%;
        margin: auto;
    }
    .bold{
        font-weight: bold;
    }
    .f-13{
        font-size: 13px;
    }
    .categories{
        margin-top: .5rem;
        display: flex;
        .category{
         margin: 5px;
         font-size: 10px;
         background: $green;
         padding: 3px;
         padding-left: 20px;
         padding-right: 20px;
         border-radius: 20px;
         font-weight: bold;
         cursor: pointer;
       }
       .category:first-child{
           margin-left: 0px !important;
       }
    }
    .todo-header{
        position: relative;
        width: 100%;
        color: $white;
        padding-top: 40px;
        .user-info{
            font-size: 56px;
            display: flex;
        }
        .pending-task{
            font-size: 20px;
            margin-top: 1rem;
        }
        .buckets{
            margin-top: 2rem;
        }
    }
    .view-todos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        .todo-items{
            width: 30%;
            margin: auto;
            .add{
                position: relative;
                padding: 30px;
                padding-right: 0px;
                margin-bottom: 2rem;
                button{
                    float: right;
                    cursor: pointer;
                    padding: 10px;
                    border-radius: 20px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border: none;
                    box-shadow: 0px 0px 10px 0px #0e0c0c36;
                    text-transform: capitalize;
                    font-weight: bold;
                    outline: none;
                }
            }
            .items{
                background: $white;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 0px #0e0c0c36;
                padding: 20px;
                margin-top: 1rem;
                position: relative;
                .item-property{
                    line-height: 25px;
                }
                .name{
                    font-weight: bold;
                }
                .date{
                    font-size: 12px;
                    color: $ao;
                }
                .category{
                    position: relative;
                    height: 20px;
                    margin-top: .5rem;
                    .category-name{
                        background: $chore;
                        color: $white;
                        padding-left: 20px;
                        padding-right: 20px;
                        position: absolute;
                        border-radius: 20px;
                        font-size: 10px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                  }
                  .accept{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    display: flex;
                    padding: 20px;
                    margin-top: 2%;
                    cursor: pointer;
                    .icon{
                        width: 30px;
                        height: 30px;
                        border: 2px solid $f53;
                        border-radius: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                        }
                    }
                  }
            }
        }
    }
    .todo-modal{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        background: $blackRGB;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .m-body{
            width: 25%;
            background: $white;
            padding: 35px;
            border-radius: 10px;
            .m-header{
                font-weight: bold;
                text-transform: capitalize;
                position: relative;
                .name{
                    font-size: 24px;
                    line-height: 33px;
                }
                .close{
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    border: none;
                    background: none;
                    outline: none;
                    box-shadow: none;
                    top: 0;
                }
            }
            .todo-form{
                position: relative;
                width: 100%;
                margin-top: 3rem;
                .f-group{
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    position: relative;
                    margin-right: 1rem;
                }
                label{
                    font-weight: bold;
                    font-size: 14px;
                    text-transform: capitalize;
                }
                input, .form-input{
                    font-family: 'Open Sans', sans-serif;
                    background: $f6;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                    width: 100%;
                }
                input{
                    height: 40px;
                    padding: 8px;      
                    padding-left: 15px;                 
                }
                .form-input{
                    height: 58px;         
                    padding: 10px;
                    padding-top: 20px;
                }
                .date{
                    margin-top: 1rem;
                }
                .cat-form{
                    .category{
                        background: $chore;
                        color: $white;
                    }
                }
                .new-bucket{
                    width: 50%;
                    margin-top: .5rem;
                    label{
                        font-size: 12px;
                        font-weight: bold;
                    }
                    .new-bucket-input{
                        display: flex;
                        justify-content: space-between;
                        margin-top: .5rem;
                        input{
                            height: 15px;
                            width: 55%;
                        }
                    }
                }
                .btn{
                    background:$yellow;
                        color: $white;
                        outline: none;
                        border: none;
                        box-shadow: none;
                        padding-left: 20px;
                        padding-right: 20px;
                        border-radius: 5px;
                        cursor: pointer;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-left: 2%;
                }
                .save-btn{
                    padding: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    float: right;
                }
            }
        }
    }
    .not-found{
        display: flex;
        width: 100%;
        background: $white;
        padding: 30px;
        border-radius: 10px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        svg{
            font-size: 40px;
            margin-bottom: 20px;
        }
    }
    .green-color{
        background: $green !important;
        color: $white !important;
    }
    .all-color{
        background: $all !important;
        color: $white !important;
    }
}